<footer class="footer text-muted">
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
    <div class="row">
      <div class="col-lg-8 order-last order-lg-first">
        <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
        </ul>
      </div>
      <div class="col-lg-8 order-first order-lg-last text-lg-end">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>
    </div>
    <div class="logos">
      <img src="{{ path.Dir .Path | relURL | urlize }}/TUHH_logo-wortmarke_en_rgb.png">
      <img src="{{ path.Dir .Path | relURL | urlize }}/HOOU_farbig_b-g_lang_RGB.png">
      <img src="{{ path.Dir .Path | relURL | urlize }}/pontifex.png">
    </div>
  </div>
</footer>
