{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">Page not found :(</h1>
      <p class="text-center">The page you are looking for doesn't exist or has been moved.</p>
      <p class="text-center">The corresponding GitLab Repo has not been released to the public yet. Instead, contact us directly in order get access to the project's source code: <a href="mailto:fabian.gabel@tuhh.de">fabian.gabel@tuhh.de</a></p>
    </article>
  </div>
</div>
{{ end }}

