{{ define "main" }}
<div class="keyvisual-bg">
  <img src="{{ .Site.BaseURL }}images/keyvisual.png">
<section class="section container-fluid mt-n3 pb-3">
  <div class="keyvisual-text row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ .Site.BaseURL }}docs/level1/" role="button">Start now!</a>
      <p class="meta"><a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons BY 4.0.</a> <a target="_blank" href="https://collaborating.tuhh.de/hoou-an-der-tuhh-projekte/pontifex">GitLab v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p>
    </div>
  </div>
</section>
</div>
{{ partial "header/plausible.html" }}
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <h2>How to build bridges</h2>
        <div class="col-lg-5">
          <div class="icons">
          <div class="icon-bg">
          <img class="icon" src="{{ .Site.BaseURL }}cap.svg">
          </div></div>
          <h2 class="h4">Learn mathematics</h2>
          <p>An unfamiliar concept appears and you want to refresh the related mathematics knowledge? Then start with a term and discover possibly hidden connections to already known topics thereby building on your previous knowledge!</p>
        </div>
        <div class="col-lg-5">
          <div class="icons">
            <div class="icon-bg">
              <img class="icon" src="{{ .Site.BaseURL }}button.svg">
            </div></div>
          <h2 class="h4">Use videos</h2>
          <p>In each topic, you find a suitable video that explains the concept and helps you to build bridges.</p>
        </div>
        <div class="col-lg-5">
          <div class="icons">
            <div class="icon-bg">
              <img class="icon" src="{{ .Site.BaseURL }}writing.svg">
            </div></div>
          <h2 class="h4">Use our notes</h2>
          <p>For each topic, you find summaries, the formal definitions, and examples that can guide you on your journey.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <div class="icons">
            <div class="icon-bg">
              <img class="icon" src="{{ .Site.BaseURL }}lupe.svg">
            </div></div>
          <h2 class="h4">Search for topics</h2>
          <p>Use the integrated search bar to find the exact topic you are struggling with or are interested in.</p>
        </div>
        <div class="col-lg-5">
          <div class="icons">
            <div class="icon-bg">
              <img class="icon" src="{{ .Site.BaseURL }}network.svg">
            </div></div>
          <h2 class="h4">Use our network</h2>
          <p>Each topic is embedded in the rich network of mathematics and visualized by a graph. You can use it to find the requirements you need in order to understand the topic you searched for.</p>
        </div>
        <div class="col-lg-5">
          <div class="icons">
            <div class="icon-bg">
              <img class="icon" src="{{ .Site.BaseURL }}laptop.svg">
            </div></div>
          <h2 class="h4">Learn with WeBWorK</h2>
          <p>We included suitable electronic exercises for each topic. They can show you if you have really understood the concept.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ .Site.BaseURL }}docs/level1/" role="button">Start now!</a>
    </div>
  </div>
</section>
{{ end }}
