<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.20.0/cytoscape.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script defer data-domain="pntfx.com" src="https://plausible.io/js/plausible.js"></script>


<script>
    let current_id = "{{ index .Params 0 }}";
  </script>
  <style>
    #cy {
      height: 500px;
      display: block;
      background-color: #fff;
    }
  </style>

   <p>Click on an <b>arrow</b> to get a description of the connection!</p>
   <div id="cy"></div>
   <p id="edge-message">Click on an <b>arrow</b> to get a description of the connection!</p>

<script src="/js/basic.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.min.js"></script>
<script>(function() {
  var cx = "015103900096539427448:ngwuia10qci";
  var gcse = document.createElement("script");
  gcse.type = "text/javascript";
  gcse.async = true;
  gcse.src = "https://cse.google.com/cse.js?cx=" + cx;
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(gcse, s);
})();
</script>

