<!-- 
    This is the header file used only for the Level 1 overview.
    It uses a hard coded CytoJS graph that forwards to the corresponding nodes.
 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.21.2/cytoscape.min.js"></script>

<style>
    #cy {
      height: 730px;
      display: block;
    }
</style>

<div id="cy"></div>

<script>

  let cy = cytoscape({
    container: document.getElementById("cy"), // container to render in

    style: cytoscape
      .stylesheet()
      .selector("edge")
      .css({
        width: 8,
        "line-color": "#abe8ef",
        "target-arrow-color": "#abe8ef",
        "target-arrow-shape": "triangle",
        label: "", //'data(label)',
        "font-size": "14px",
        "curve-style": "bezier",
        color: "white",
      })
      .selector("node")
      .css({
        width: "data(size)",
        height: "data(size)",
        "text-wrap": "wrap",
        content: "data(label)",
        "text-valign": "center",
        color: "white",
        "text-outline-width": 2,
        "text-outline-color": "#1d2d35",
      })
      .selector(":selected")
      .css({
        "background-color": "black",
        "line-color": "black",
        "target-arrow-color": "black",
        "source-arrow-color": "black",
        "text-outline-color": "black",
      }),

    layout: {
      name: "grid",
      rows: 1,
    },
  });

  cy.add(
    [
      {
        "data": {
          "id": "000",
          "label": "Logic and Sets",
          "size": 105
        },
        "group": "nodes",
        "position": {
          "x": 150,
          "y": 60
        }
      },
      {
        "data": {
          "id": "100",
          "label": "Sequences",
          "size": 105
        },
        "group": "nodes",
        "position": {
          "x": 250,
          "y": 160
        }
      },
      {
        "data": {
          "id": "200",
          "label": "Series",
          "size": 105
        },
        "group": "nodes",
        "position": {
          "x": 150,
          "y": 260
        }
      },
      {
        "data": {
          "id": "300",
          "label": "Continuous Functions",
          "size": 105
        },
        "group": "nodes",
        "position": {
          "x": 250,
          "y": 360
        }
      },
      {
        "data": {
          "id": "400",
          "label": "Elementary Functions",
          "size": 105
        },
        "group": "nodes",
        "position": {
          "x": 150,
          "y": 460
        }
      },
      {
        "data": {
          "id": "500",
          "label": "Differentiation",
          "size": 105
        },
        "group": "nodes",
        "position": {
          "x": 250,
          "y": 560
        }
      },
      {
        "data": {
          "id": "600",
          "label": "Integration",
          "size": 105
        },
        "group": "nodes",
        "position": {
          "x": 150,
          "y": 660
        }
      },
      {
        "data": {
          "source": "000",
          "target": "100",
        },
        "group": "edges"
      },
      {
        "data": {
          "source": "100",
          "target": "200",
        },
        "group": "edges"
      },
      {
        "data": {
          "source": "200",
          "target": "300",
        },
        "group": "edges"
      },
      {
        "data": {
          "source": "300",
          "target": "400",
        },
        "group": "edges"
      },
      {
        "data": {
          "source": "400",
          "target": "500",
        },
        "group": "edges"
      },
      {
        "data": {
          "source": "500",
          "target": "600",
        },
        "group": "edges"
      }
    ]
  );
  cy.userZoomingEnabled(false);
  cy.userPanningEnabled(false);
  cy.on("click", "node", node_clicked);
  cy.on("tap", "node", node_clicked);

  function node_clicked(evt) {
    var node = evt.target;
    const index = node.data()["id"];
    const first = index[0];
    window.open(`../chapter${first}/${index}/`, "_self")
  };
</script>

{{ partial "header/plausible.html" }}