<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.20.0/cytoscape.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  type="text/javascript"
></script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({ "HTML-CSS": { width:"container", scale:100,linebreaks: { automatic: true } }, SVG: { linebreaks: { automatic: true } }});
  MathJax.Hub.Queue(function () {
    $(".collapse").removeClass("in");
    });
</script>
<script>
  (function () {
    var head = document.getElementsByTagName("head")[0],
      script;
    script = document.createElement("script");
    script.type = "text/x-mathjax-config";
    script[window.opera ? "innerHTML" : "text"] =
      "MathJax.Hub.Config({\n" +
      " tex2jax: { inlineMath: [['$','$'], ['\\\\(','\\\\)']] }\n" +
      "});";
    head.appendChild(script);
    script = document.createElement("script");
    script.type = "text/javascript";
    script.src =
      "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1//MathJax.js?config=TeX-AMS-MML_HTMLorMML";
    head.appendChild(script);
  })();
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>
    let current_id = "{{ index .Params 0 }}";
  </script>
  <style>
    #cy {
      height: 500px;
      display: block;
      background-color: #fff;
    }
  </style>

   <div id="cy"></div>

<script src="/js/basic.js"></script>
