
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.21.2/cytoscape.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.min.js"></script>

<!--BSTOUR-->

{{ partial "header/mathjax_support.html" . }}

<style>
  #cy {
    height: 500px;
    display: block;
  }
</style>

<p>Click on an <b>arrow</b> to get a description of the connection!</p>
<div id="cy"></div>
<p id="edge-message">Click on an <b>arrow</b> to get a description of the connection!</p>

<!--<button class="btn btn-lg btn-primary" id="start-tour">
  Start Tour
</button><br/><br/>
-->


<script>let current_id = "{{ index .Params 0 }}";</script>
<script src="{{ .Site.BaseURL }}js/pontifex-graph.js"></script>
<!--
  <script src="/js/pontifex-tour.js"></script>
-->

{{ partial "header/plausible.html" }}